#root {
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form_component {
    display: flex;
    position: relative;
}

.morph_component {
    display: flex;
    position: relative;
    /* top: 0px; */
    z-index: -1;
    transform: translateX(-100px);
} 